@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Example: secondary color via Tailwind: */
.dark body,
 #body-cont { 
    background: #020617; 
    position: relative;
}

